# Compiled class file
*.class

#Other files
*.lock
*.gen
*.iml
*.dat
*.name

#Folders
/.metadata/.plugins/*
/.recommenders/*
/RemoteSystemsTempFiles/*
/.idea/*

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

